# node
node_modules/
npm-debug.log

# python
__pycache__/
venv/

# env
.env

# mac
.DS_Store

# venv 제외
ai-engine/venv/
ai-engine/__pycache__/
ai-engine/.env

# AI Engine 대용량 데이터
ai-engine/crawler/data/chroma_db/
ai-engine/crawler/data/models/
ai-engine/crawler/data/synthetic/
ai-engine/crawler/data/processed/
ai-engine/crawler/data/final_backup/
ai-engine/ai-engine-data.tar.gz
ai-engine/crawler/data/posts/images/
*.sqlite3
